[Unit]
Description=Simulation Engine

[Service]
User=leeps-lab
Group=leeps-lab
Environment=DBUSER=leeps
Environment=DBPASSWORD=mydbpassword
WorkingDirectory=/home/leeps-lab/financial_market_simulator
ExecStart=/home/leeps-lab/financial_market_simulator_env/bin/python run_web_api.py
ExecStop=/bin/kill -INT $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target